.headerContainer {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;

}

.kixieLogo {
    height: 7vh;
    margin: 15px;
}

.menuItem {
    color: lightgrey;
    font-size: 20px;
    margin: 10px;
}